
.item
{
    float: left;
    margin-right: 15px;
    background-color: white;
}

.imageSlider
{
    transition: transform .5s;
	width:200%;
}

.left,.right
{
    background: url(https://i.postimg.cc/rFxP1K3b/left.png) no-repeat white center;
    border-radius: 50%;
    position: absolute;
    margin-left: 35px;
    top: 40%;
    margin-top: -20px;
    background-size: 30px;
    width: 40px;
    height: 40px;
    opacity: 0.9;
    cursor: pointer;
}
.right
{
    left: 89%;
    background-image: url(https://i.postimg.cc/GmV2DgDd/4beb4317ebb605abb3096d9a1b5dbde4.png);
}
.left:hover,.right:hover
{
    opacity: 1;
}

img{
    width: 200px;
    height: 300px;
}
